.icon-list-box{
  font-size: 36px;
  .icon-list{
    background: #fcfcfc;
    overflow: hidden;
  }
  .loadmore{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    color: rgb(136, 137, 154);
    border: 1px solid rgb(136, 137, 154);
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
}
