{{!-- 使用默认模板布局 --}}
{{!< default }}

{{!-- 模板body BEGIN --}}
<canvas id="page_bg"></canvas>
<div id="page"></div>
{{!-- 模板body END --}}

{{#contentFor "scripts"}}
  <script src="{{{path 'public/pages/home/index/index.js'}}}"></script>
{{/contentFor}}
