html, body { background: #000; margin: 0; padding:0;}
ul,li{
  list-style: none;
}
ul,li,p,span,div{
  padding: 0;
  margin: 0;
}
canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#page{
  font-family: Tahoma, '宋体', Helvetica, Arial, STXihei, SimSun, sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
  .main-box{
    width: 1160px;
    min-height: 700px;
    margin: 0 auto;
    .search-mascot{
      width: 168px;
      height: 185px;
      background: url(./imgs/search-icon.png) no-repeat;
      display: block;
      margin: 100px auto -1px;
      filter:alpha(opacity=70);
      -moz-opacity:0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7;
    }
    .search-input{
      width: 60%;
      margin: 0 auto;
      text-align: center;
      .sinput {
        height: 30px;
        line-height: 21px;
        width: 100%;
        display: block;
        background: url('./imgs/search.png') no-repeat 10px center rgba(20, 24, 33, 0.6);
        text-indent: 33px;
        border: 1px solid rgba(255, 255, 255, 0.62)!important;
        padding: 7px 10px!important;
        outline: none;
        color: #fff;
        font-size: 14px;
        border-radius: 30px;
      }
    }
    .welcome-tip{
      font-size: 14px;
      color: #949597;
      letter-spacing: 1px;
      display: block;
      margin: 30px auto;
      text-align: center;
    }

  }
}


