/*****************common-style---start********************************/
html ::-webkit-scrollbar-track-piece{
    background-color:#000;/*滚动条的背景颜色*/
    -webkit-border-radius:0;/*滚动条的圆角宽度*/
}

html ::-webkit-scrollbar{
    width:10px;/*滚动条的宽度*/
    height:8px;/*滚动条的高度*/
}

html ::-webkit-scrollbar-thumb:vertical{/*垂直滚动条的样式*/
    height:50px;
    background-color:#acacac;
    -webkit-border-radius:4px;
    outline:1px solid #000;
    outline-offset:-2px;
    border: 1px solid #000;
}
html ::-webkit-scrollbar-thumb:hover{/*滚动条的hover样式*/
    height:50px;
    background-color:#acacac;
    -webkit-border-radius:4px;
}
html ::-webkit-scrollbar-thumb:horizontal{/*水平滚动条的样式*/
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
html {
  font-size: 625%;
  height: 100%;
}
/**
 * iphone  4
 */
@media only screen and (min-width: 320px){
  html {
    font-size:266.667%!important;
  }
}
/**
 * iphone  5
 */
@media only screen and (min-width: 320px){
  html {
    font-size:266.667%!important;
  }
}
/**
 * iphone  6     375X667
 */
@media only screen and (min-width: 375px){
  html {
    font-size: 312.5%!important;
  }
}
/**
 * iphone 6 Plus   414X736
 */
@media only screen and (min-width: 414px){
  html {
    font-size: 345%!important;
  }
}
/**
 *
 */
@media only screen and (min-width: 750px){
  html {
    font-size: 625%!important;
  }
}

/**
 * 全局背景
 */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f3f7fa;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

ol, ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul,li,p,span,div{
  padding: 0;
  margin: 0;
}
canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
input::-ms-clear{display:none;}/*隐藏文本框叉子*/
input::-ms-reveal{display:none;}/*隐藏密码框小眼睛*/

.hide {
  visibility: hidden !important;
  display: none !important;
}

.root,#page,.page-box{
  height: 100%;
}
