/*****************common-style---start********************************/
html ::-webkit-scrollbar-track-piece{
    background-color:#eee;/*滚动条的背景颜色*/
    -webkit-border-radius:0;/*滚动条的圆角宽度*/
}

html ::-webkit-scrollbar{
    width:10px;/*滚动条的宽度*/
    height:8px;/*滚动条的高度*/
}

html ::-webkit-scrollbar-thumb:vertical{/*垂直滚动条的样式*/
    height:50px;
    background-color:#acacac;
    -webkit-border-radius:4px;
    outline:1px solid #000;
    outline-offset:-2px;
    border: 1px solid #eee;
}
html ::-webkit-scrollbar-thumb:hover{/*滚动条的hover样式*/
    height:50px;
    background-color:#acacac;
    -webkit-border-radius:4px;
}
html ::-webkit-scrollbar-thumb:horizontal{/*水平滚动条的样式*/
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
html {
  font-size: 625%;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 960px){

}
@media screen and (min-width: 600px) and (max-width: 960px){

}

@media screen and (max-width: 600px){

}

/**
 * 全局背景
 */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #f3f7fa;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow: auto;
}

ol, ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul,li,p,span,div{
  padding: 0;
  margin: 0;
}
canvas {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
input::-ms-clear{display:none;}/*隐藏文本框叉子*/
input::-ms-reveal{display:none;}/*隐藏密码框小眼睛*/

.hide {
  visibility: hidden !important;
  display: none !important;
}

.root,#page,.page-box{
  height: 100%;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  height: 32px;
  line-height: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #999;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  box-sizing: border-box;
}
.btn-normal {
  color: #333;
  background-color: #ddd;
}
.btn-disabled,.btn-disabled:hover {
  color: #ccc !important;
  cursor: not-allowed !important;
  background-color: #fcfcfc !important;
}
