
@font-face {font-family: "iconfont";
  src: url('./../others/font/iconfont.eot?t=1502972237269'); /* IE9*/
  src: url('./../others/font/iconfont.eot?t=1502972237269#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./../others/font/iconfont.woff?t=1502972237269') format('woff'), /* chrome, firefox */
  url('./../others/font/iconfont.ttf?t=1502972237269') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./../others/font/iconfont.svg?t=1502972237269#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before { content: "\e647"; }

.icon-favoritesfilling:before { content: "\e654"; }

.icon-favoritesList:before { content: "\e698"; }

.icon-favorite:before { content: "\e65f"; }
